<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title_">
            <a role="button" data-toggle="collapse" href="#LabelCollapse">
                + {{ yourls__('Label') }}
            </a>
        </div>
    </div>
    <div id="LabelCollapse" class="panel-collapse collapse">
        <div class="panel-body">
            <p>{{ yourls__('Add label.') }}</p>
            <div class="form-group">
                <input class="form-control" type="text" name="label" placeholder="{{ yourls__('Add labels comma separated') }}" value=""/>
            </div>
        </div>
    </div>
</div>