<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title_">
            <a data-toggle="collapse" href="#CommentCollapse">
                + {{ yourls__('Comment') }}
            </a>
        </div>
    </div>
    <div id="CommentCollapse" class="panel-collapse collapse">
        <div class="panel-body">
            <p>{{ yourls__('Add comment.') }}</p>
            <div class="form-group">
                <textarea name="comment" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
</div>